ul.pagenav li {
  display: inline-block;
  list-style-type: none;
  margin: .5em;
}
ul.pagenav {
  padding: 1em;
  text-align: center;
  width: fit-content;
  margin: 1em auto;
}
ul.pagenav li a {
  color: rgba(255,215,0,1);
  /*font-weight: bold;*/
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.active {
  border: 2px solid rgba(255,215,0,1);
  border-radius: 5px;
}